.users-block {
  overflow: hidden;
}

.users-content {
  overflow-y: auto;
  height: 700px;
}

.users-content::-webkit-scrollbar {
  width: 3px;
}

.users-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.users-content::-webkit-scrollbar-thumb {
  background: #d84fb6;
}

.users-content::-webkit-scrollbar-thumb:hover {
  background: #d84fb6;
}

.empty-text {
  font-size: 26px;
}
