.users-block {
  overflow: hidden;
}

.users-content {
  overflow-y: auto;
  height: 700px;
  overflow-x: hidden;
}

.users-content::-webkit-scrollbar {
  width: 5px;
}

.users-content::-webkit-scrollbar-track {
  background: #cfdee2;
}

.users-content::-webkit-scrollbar-thumb {
  background: #443196;
}

.users-content::-webkit-scrollbar-thumb:hover {
  background: #443196;
}

.empty-text {
  font-size: 26px;
}
