.btn-save-user {
  background-color: #343763 !important;
  transition: all 0.2s ease-in-out;
}

.btn-save-user:hover {
  background-color: #565dbe !important;
}

input {
  border: 2px solid #000000 !important;
}

input:focus {
  outline: none;
  border-color: #604297;
}

.checkbox-label,
.select-role {
  cursor: pointer !important;
}

.form-block {
  min-width: 400px;
}
