.user-item {
  background: rgb(137, 128, 185);
}

.attribute {
  width: 60px;
}

.is-active {
  width: 20px;
  height: 20px;
  position: relative;
  margin-left: 70px;
  text-transform: capitalize;
}

.is-active::before {
  position: absolute;
  content: '';
  top: 0;
  left: -50px;
  border-radius: 100px;
  width: 20px;
  height: 20px;
  background: rgb(50, 161, 84);
  border: 2px solid white;
  padding-right: 30px;
}

.active::before {
  background: rgb(50, 161, 84);
}

.inactive::before {
  background: red;
}

.active-user {
  background: rgb(134, 185, 179);
}

.inactive-user {
  background: rgb(216, 151, 151);
}
